<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;">{{'credential.detail.import.title'| translate}}</h5>
        </div>
    </md-toolbar>

    <md-dialog-content style="background-color: #f6f7f6;">
        <form class="" id="frm" nam="frm" >
            <div class="col-sm-12">
                <div>
                    <div class="initRequest" style="margin: 24px;">
                        <div class="form-group button-upload-cts">
                            <input type="file" ng-change="ctrl.filesSelected();" ng-model="ctrl.cts" id="buttonImport" name="buttonImport"/>
                            <!--<button class="btn btn-sm" ng-click='ctrl.chooseFile();'>{{'credential.detail.import.file' | translate}}</button>-->
                        </div>
                    </div>
                    <div class="form-group dis-flex-center">
                        <div ></div>
                        <message-dialog style="text-transform: uppercase;" obj="ctrl.dialogMessage"></message-dialog>
                        
                    </div>
                    <div class="form-group dis-flex-center" style="margin-bottom: 24px;">
                        <div style="text-align: center; margin: 0 1rem;">
                            <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                    class="feid-button button-indigo_inverse button-medium" aria-label="FeID button">
                                {{'global.button.cancel'| translate}}
                            </button>
                        </div>
                        <div style="text-align: center; margin: 0 1rem;" ng-if="!ctrl.initRequest">
                            <button id="feid-modal-confirm-confirm-button" ng-click="ctrl.import()"
                                    ng-disabled="frm.buttonImport.$dirty || frm.buttonImport.$invalid"
                                    style="text-transform: uppercase;"
                                    type="button" class="feid-button button-green button-medium">
                                {{'credential.detail.import.button'| translate}}
                            </button>
                        </div>
                    </div>
                </div>



            </div>
        </form>
    </md-dialog-content>

    




</md-dialog>
