<div class="box-wrapper" ng-if="vm.isAuthenticated() ">
    <div style="padding: 80px 10px; background-color: rgb(62, 58, 148);">
        <div class="row around-xs">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="box">
                    <div style="padding-right: 20px;">
                        <div style="margin: 10px 0px 10px;">
                            <div class="feid-logo-img logo-img-medium">
                                <img style="margin-left: -13px;width: 160px"
                                     src="./content/images/logo-lca/text_1.png"
                                     alt="RSSP logo">
                            </div>
                        </div>
                        <ul style="list-style-type: none; padding-left: 0px;">
                            <li style="margin-bottom: 5px;">
                                <p class="feid-text text-light text-left">
                                    {{'company.lca.name' | translate}}
                                </p>
                            </li>
                            <li style="margin-bottom: 5px;">
                                <p class="feid-text text-light text-left">
                                    {{'company.lca.address' | translate}}
                                </p>
                            </li>
                            <li style="margin-bottom: 5px; "><a
                                    class="feid-link-external link-color-light" href="https://{{'company.website' | translate}}"
                                    target="_blank">
                                <span class="feid-text text-light text-left">
                             {{'company.lca.website' | translate}}</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="box">
                    <h4 class="feid-heading heading-light heading-left heading-caps">
                        {{'company.lca.contact.title' | translate}}
                    </h4>
                    <ul style="list-style-type: none; padding-left: 0px;">
                        <li style="margin-bottom: 5px;">
                            <a class="feid-link-external link-color-light"
                               href="mailto:{{'company.lca.contact.email' | translate}}"
                               target="_blank">
                                <span
                                    class="feid-text text-light text-left"> {{'company.lca.contact.email' | translate}}
                                </span>
                            </a>
                        </li>
                        <li style="margin-bottom: 5px; max-width: 320px;">
                            <a class="feid-link-external link-color-light"
                               href="tel:{{'company.lca.contact.phone' | translate}}"
                               target="_blank">
                            <span class="feid-text text-light text-left">
                                {{'company.lca.contact.phone' | translate}}
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
