<div class="box-wrapper">
    <div>
        <div ui-view="sideBar"></div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px; padding-left: 10px; padding-right: 10px;">
        <div class="scroll-credential-upgrade">
            <div class="row">
                <div class="col-xs col-sm col-md col-lg">
                    <div class="box">
                        <h4 class="feid-heading heading-indigo heading-left heading-strong" translate="credential.detail.upgrade.info">

                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs col-sm col-md col-lg ">
                    <div class="box">
                        <div>
                            <div class="card-body bg-white scroll-upgrade">
                                <form id="frm" name="frm">
                                    <ul class="list-unstyled">
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-3 col-lg-3">
                                                    <div class="box">
                                                        <label class="required ng-scope" translate="credential.detail.upgrade.certificateAuthorities"></label>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-9 col-lg-9">
                                                    <div class="box font-weight-bold col-6">
                                                        <select class="form-control" id="CerAuthName"
                                                                placeholder="Select"
                                                                ng-disabled="vm.disabled"
                                                                ng-change="vm.getCertificateProfileName();" required
                                                                ng-model="vm.request.CerAuthName" 
                                                                ng-options=" item.name for item in vm.CerAuth">
                                                            <option ng-if="item.value == 'undefined'"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-3 col-lg-3">
                                                    <div class="box">
                                                        <label class="required ng-scope" translate="credential.detail.upgrade.certificateProfile"></label>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-9 col-lg-9">
                                                    <div class="box font-weight-bold col-6">
                                                        <select class="form-control"
                                                                ng-disabled="vm.disabled"
                                                                ng-change="vm.chooseCertiProfile();"
                                                                ng-model="vm.request.CerAuthProName" required 
                                                                ng-options="item.name for item in vm.CerAuthProName.profiles">
                                                            <option ng-if="item.value == 'undefined'"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-3 col-lg-3">
                                                    <div class="box" >
                                                        <label class="required ng-scope" translate="credential.detail.upgrade.signingProfile"></label>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-9 col-lg-9">
                                                    <div class="box font-weight-bold col-6">
                                                        <select class="form-control"
                                                                name="signingProfile"
                                                                ng-disabled="vm.disabled"
                                                                ng-change='vm.rqChooseSC();'
                                                                ng-init="vm.request.signingProfile = 'UNLIMITED'"
                                                                ng-model="vm.request.signingProfile" required 
                                                                ng-options=" item.name as item.description for item in vm.SnProdata">
                                                            <option ng-if="item.value == 'undefined'"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if="vm.detail.authMode != 'IMPLICIT/TSE'">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-3 col-lg-3">
                                                    <div class="box" >
                                                        <label class="required ng-scope" ng-if="vm.detail.authMode == 'EXPLICIT/PIN'" translate="credential.detail.upgrade.pin"></label>
                                                        <label class="required ng-scope" ng-if="vm.detail.authMode == 'EXPLICIT/OTP-SMS' || vm.detail.authMode == 'EXPLICIT/OTP-EMAIL'" translate="credential.detail.upgrade.otp"></label>

                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-9 col-lg-9">
                                                    <div class="box font-weight-bold col-6">
                                                        <input  name="authorizeCode" id="authorizeCode" type="password"  required="true"
                                                                class="form-control " autocomplete="new-password" ng-disabled="vm.disabled"
                                                                placeholder="" ng-model="vm.request.authorizeCode" minlength="1" maxlength="20"
                                                                value=""
                                                                aria-invalid="false" style=""
                                                                ng-attr-type="{{ vm.showOldPassword ? 'text':'password'}}"/>
                                                        <i ng-click="vm.toggleShowOldPassword();" class="sh-login" ng-class="{'sc-eye': vm.showOldPassword, 'sc-eye-slash': !vm.showOldPassword}" style="cursor: pointer; right: 20px; bottom: 6px;" ></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if='vm.rqCerAuthProName'>
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-lg-3 col-md-3">
                                                    <div class="box" translate="credential.renew.duration">

                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-9">
                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                        {{vm.certDetail.duration}} {{'credential.renew.day'| translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if='vm.rqCerAuthProName'>
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-3 col-lg-3">
                                                    <div class="box" translate="credential.detail.upgrade.amount">

                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-9 col-lg-9">
                                                    <div class="box font-weight-bold col-6" ng-if="!vm.fnChooseAM">
                                                        {{vm.certDetail.amount| currency: '': 0}} VND
                                                    </div>
                                                    <div class="box font-weight-bold col-6" ng-if="vm.fnChooseAM">
                                                        {{vm.getChooseAM.amount| currency: '': 0}} VND
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>

                                    </ul>
                                    <md-radio-group ng-if="vm.initRq" ng-model="vm.request.item">
                                        <table>
                                            <tr ng-repeat=" item in vm.getPMProvider.paymentProviders">
                                                <td>
                                                    <div>
                                                        <label for="{{item.name}}" style="cursor: pointer;">
                                                            <div class="payment-group">
                                                                <md-radio-button class="md-primary" ng-value="item" name="payment" aria-label="{{item.name}}">
                                                                    <div style="display: flex;">
                                                                        <div class="payment-img">
                                                                            <img ng-src="{{item.image}}" class="" />
                                                                        </div>
                                                                        <div class="form-group payment-name">
                                                                            <div>
                                                                                <span ng-model="vm.request.name">{{"credential.upgrade.payment.pmProviderName"| translate}} {{item.name}}</span>
                                                                            </div>
                                                                            <div>
                                                                                <span translate="credential.upgrade.payment.pmPro2"></span>
                                                                            </div>
                                                                            <div>
                                                                                <span translate="credential.upgrade.payment.pmPro3"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </md-radio-button>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </md-radio-group>
                                </form>
                                <div class="dis-flex-center col-9 col-md-9 col-lg-9">
                                    <message-dialog obj="vm.dialogMessage"></message-dialog>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-9 col-md-9 col-lg-9 css-button-upgrade">


                                        <div style="text-align: center; margin-top: 24px;">
                                            <button id="feid-modal-confirm-cancel-button" type="button" ng-click="vm.cancel()" style="margin: 0 1rem"
                                                    class="feid-button button-indigo_inverse button-medium" aria-label="FeID button"
                                                    translate="global.button.cancel">CANCEL
                                            </button>
                                            <button id="feid-modal-confirm-confirm-button" ng-if="!vm.initRq" type="button" ng-disabled="frm.$invalid || ctrl.step == 2"
                                                    ng-click="vm.confirmRequestUpgrade()" style="margin: 0 1rem"
                                                    class="feid-button button-green button-medium" translate="global.button.init">
                                                CONFIRM
                                            </button>
                                            <button id="feid-modal-confirm-confirm-button" ng-if="vm.initRq" type="button" ng-disabled="frm.$invalid || ctrl.step == 2"
                                                    ng-click="vm.orderCheckout()" style="margin: 0 1rem"
                                                    class="feid-button button-green button-medium" translate="global.button.confirm">
                                                CONFIRM
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
