<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center" style="min-width: 300px">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;">{{'credential.detail.changePassPhrase.title'| translate}}</h5>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="col-sm-12 container-720">
            <form class="" id="frm" name="frm" ng-submit="ctrl.changePassphrase($event)" style="">
                <fieldset ng-disabled="ctrl.disabled" style="padding-bottom: 0px">

                    <div class="form-group" style="position: relative;margin-bottom: 0px">

                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class="{'feid-label-hidden' : !(frm.oldPassphrase.$dirty && frm.oldPassphrase.$invalid)}">
                            <span class="help-block"
                                  ng-if="frm.oldPassphrase.$error.required" translate="global.validate.isRequired"
                                  translate-values='{ field: "credential.detail.changePassPhrase.oldPassPhrase" }'>Old Passphrase is required</span>
                        </label>

                        <input name="oldPassphrase" id="oldPassphrase" type="password" required="true"
                               onkeyup="this.value = this.value.replace(/\s/, '')"
                               class="feid-input input-medium input-default feid-input-center " autocomplete="new-password"
                               placeholder="{{'credential.detail.changePassPhrase.oldPassPhrase'| translate}}" ng-model="ctrl.oldPassphrase"
                               value=""
                               aria-invalid="false" style=""
                               ng-attr-type="{{ ctrl.showOldPassword ? 'text':'password'}}">
                        <i ng-click="ctrl.toggleShowOldPassword();" class="sh-login" ng-class="{'sc-eye': ctrl.showOldPassword, 'sc-eye-slash': !ctrl.showOldPassword}" style="cursor: pointer;" ></i>
                    </div>
                    <div class="form-group" style="position: relative;margin-bottom: 0px">
                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class=" {'feid-label-hidden' : !(frm.newPassphrase.$dirty && frm.newPassphrase.$invalid)} ">

                            <span class="help-block " ng-show="frm.newPassphrase.$error.required"
                                  translate="global.validate.isRequired" translate-values='{ field: "credential.detail.changePassPhrase.newPassPhrase" }'>
                                is required
                            </span>
                            <span class="help-block"
                                  ng-show="frm.newPassphrase.$error.minlength"
                                  translate="global.validate.minlength" translate-values='{ field: "credential.detail.changePassPhrase.newPassPhrase",length: 8 }'>
                                New Passphrase is required to be at least 2 characters
                            </span>
                            <span class="help-block"
                                  ng-show="frm.newPassphrase.$error.maxlength"
                                  translate="global.validate.maxlength" translate-values='{ field: "credential.detail.changePassPhrase.newPassPhrase",length: 50 }'>
                                New Passphrase cannot be longer than 50 characters
                            </span>

                        </label>
                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class="{'feid-label-hidden' : !(ctrl.oldPassphrase == ctrl.newPassphrase)}">
                            <span class="help-block"
                                  ng-show=" !(frm.newPassphrase.$invalid) && (ctrl.newPassphrase == ctrl.oldPassphrase)"
                                  translate="credential.detail.changePassPhrase.error.pass"
                                  translate-values='{ field: "credential.detail.changePassPhrase.error.pass" }'
                                  >
                            </span>
                        </label>

                        <input name="newPassphrase" id="newPassphrase" type="password" required="true" autocomplete="new-password"
                               onkeyup="this.value = this.value.replace(/\s/, '')"
                               class="feid-input input-medium input-default feid-input-center "
                               placeholder="{{'credential.detail.changePassPhrase.newPassPhrase'| translate}}" ng-model="ctrl.newPassphrase" minlength="8" maxlength="50"
                               value=""
                               aria-invalid="false" style=""
                               ng-attr-type="{{ ctrl.showNewPassword ? 'text':'password'}}">
                        <i ng-click="ctrl.toggleShowNewPassword();" class="sh-login" ng-class="{'sc-eye': ctrl.showNewPassword, 'sc-eye-slash': !ctrl.showNewPassword}" style="cursor: pointer;" ></i>
                    </div>
                    <div class="form-group" style="position: relative;margin-bottom: 0;">
                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class="{'feid-label-hidden' : !((frm.reNewPassphrase.$dirty && frm.reNewPassphrase.$invalid) || (ctrl.newPassphraseRepeat != ctrl.newPassphrase && ctrl.newPassphraseRepeat))}">
                            <span class="help-block "
                                  ng-show="frm.reNewPassphrase.$error.required"
                                  translate="global.validate.isRequired"
                                  translate-values='{ field: "credential.detail.changePassPhrase.retypeNewPassPhrase" }'>
                                Re-type New Passphrase is required
                            </span>
                            <span class="help-block"
                                  ng-show="frm.reNewPassphrase.$error.minlength"
                                  translate="global.validate.minlength"
                                  translate-values='{ field: "credential.detail.changePassPhrase.retypeNewPassPhrase",length: 8 }'>
                                Re-type New Passphrase is required to be at least 2 characters
                            </span>
                            <span class="help-block"
                                  ng-show="frm.reNewPassphrase.$error.maxlength"
                                  translate="global.validate.maxlength"
                                  translate-values='{ field: "credential.detail.changePassPhrase.retypeNewPassPhrase",length: 50 }'>
                                Re-type New Passphrase cannot be longer than 50 characters
                            </span>
                            <span class="help-block"
                                  ng-show="ctrl.newPassphraseRepeat != ctrl.newPassphrase && !(frm.reNewPassphrase.$dirty && frm.reNewPassphrase.$invalid)"
                                  translate="global.validate.notMatch"
                                  translate-values='{ field: "credential.detail.changePassPhrase.retypeNewPassPhrase", focus: "credential.detail.changePassPhrase.newPassPhrase" }'>
                                Re-type New Passphrase not match with New Passphrase 123
                            </span>

                        </label>
                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class="{'feid-label-hidden' : !(ctrl.oldPassphrase == ctrl.reNewPassphrase)}">
                            <span class="help-block"
                                  ng-show=" !(frm.reNewPassphrase.$invalid) && (ctrl.reNewPassphrase == ctrl.oldPassphrase)"
                                  translate="credential.detail.changePassPhrase.error.re.pass"
                                  translate-values='{ field: "credential.detail.changePassPhrase.error.re.pass" }'
                                  >
                            </span>
                        </label>
                        <input name="reNewPassphrase" id="reNewPassphrase" type="password" required="true" autocomplete="new-password"
                               onkeyup="this.value = this.value.replace(/\s/, '')"
                               class="feid-input input-medium input-default feid-input-center"
                               placeholder="{{'credential.detail.changePassPhrase.retypeNewPassPhrase'| translate}}" ng-model="ctrl.newPassphraseRepeat" minlength="8"
                               maxlength="50" aria-invalid="false" style=""
                               ng-attr-type="{{ ctrl.showReNewPassword ? 'text':'password'}}">
                        <i ng-click="ctrl.toggleShowReNewPassword();" class="sh-login" ng-class="{'sc-eye': ctrl.showReNewPassword, 'sc-eye-slash': !ctrl.showReNewPassword}" style="cursor: pointer;" ></i>
                    </div>
                    <div class="form-group text-center dis-flex-center" style="margin-bottom: 0;">
                        <div class="alert alert-danger width-max-content margin-left-right" ng-show="ctrl.msgType == 1"
                             style="margin-top: 24px;margin-bottom: 0px;text-align: center; text-transform: uppercase;" id="successClose">
                            {{'credential.detail.changePassPhrase.error.1004'| translate}}
                        </div>
                        <message-dialog style="text-transform: uppercase;" obj="ctrl.dialogMessage"></message-dialog>


                    </div>
                </fieldset>
                <div class="form-group dis-flex-center" style="margin: 24px 0;">
                    <div style="text-align: center; margin: 0 1rem;">
                        <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                class="feid-button button-indigo_inverse button-medium" aria-label="FeID button">
                            {{'global.button.cancel'| translate}}
                        </button>
                    </div>
                    <div style="text-align: center; margin: 0 1rem;">
                        <button id="feid-modal-confirm-confirm-button" type="submit" ng-disabled="frm.$invalid || (ctrl.newPassphraseRepeat != ctrl.newPassphrase)"
                                class="feid-button button-green button-medium">
                            {{'global.button.update'| translate}}
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </md-dialog-content>


</md-dialog>
