<div>
    <!--Mobile-->
    <div class="undefined feid-hero-wrapper-mobile feid-hero-mode-dark  d-lg-none d-md-none">
        <div id="feid-collapsible">
            <div class="row start-xs middle-xs between-xs">
                <div class="col-xs-10">
                    <div class="box">
                        <h4 class="feid-heading heading-indigo heading-left heading-strong" translate="credential.renew.title"></h4>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="box">
                        <button aria-label="button expand" ng-init="vm.expandIcon = false" ng-click="vm.expandIcon =!vm.expandIcon"
                                class="feid-button-icon "
                                ng-class="{'feid-collapsible-expand-open': vm.expandIcon, 'feid-collapsible-expand-close': !vm.expandIcon}">

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-text-indent-right payment-mb" viewBox="0 0 16 16">
                                <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row start-xs middle-xs  d-md-block d-lg-block" ng-class="{'d-none': vm.expandIcon}">
                <div class="">
                    <div class="box">
                        <h6 class="feid-heading heading-indigo heading-left"  translate="credential.renew.description">
                            In Credential, you can view the credential and relevant history respectively.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Mobile end-->
    <!--Web browser-->
    <div class="undefined feid-hero-wrapper feid-hero-mode-light d-sm-none d-none d-md-block">

        <div class="row start-xs middle-xs">
            <div class="col-sm-2 col-md-1">
                <div class="box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-text-indent-right payment" viewBox="0 0 16 16">
                        <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="start middle between d-block" >
                        <div class="dis-flex">
                            <h2 class="feid-heading heading-light heading-left"  translate="credential.renew.title"></h2>
                            <div class="cursor-pointer" style="display: flex; align-items: center;">
                                <button aria-label="button expand" ng-init="vm.expandIconLg = false" ng-click="vm.expandIconLg = !vm.expandIconLg"
                                        class="feid-button-icon " style="background-color: transparent;"
                                        ng-class="{
                                                'feid-collapsible-expand-open': vm.expandIconLg, 'feid-collapsible-expand-close': !vm.expandIconLg}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                         viewBox="0 0 24 24" role="img" preserveAspectRatio="xMidYMid meet">
                                        <path id="expand" style="fill: #fff;"
                                              d="M13.19,18.35,23.5,8a1.68,1.68,0,0,0-2.37-2.38L12,14.78,2.87,5.65A1.68,1.68,0,0,0,.5,8L10.81,18.35a1.69,1.69,0,0,0,2.38,0Z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="start middle" ng-class="{'d-none': !vm.expandIconLg}">
                        <h5 class="feid-heading heading-light heading-left" translate="credential.renew.description"></h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--Web browser end-->
</div>
