<div class="box-wrapper">
    <div>
        <div ui-view="sideBar"></div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px; padding-left: 10px; padding-right: 10px;">
        <div class="">
            <div class="row">
                <div class="col-xs col-sm col-md col-lg">
                    <div class="box">
                        <h4 class="feid-heading heading-indigo heading-left heading-strong" translate="credential.detail.upgrade.info">

                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs col-sm col-md col-lg">
                    <div class="box">
                        <div>
                            <div class="card-body bg-white">
                                <div>
                                    <form id="frm" name="frm" class="scroll-renew">
                                        <div class="tab-content" >
                                            <div>
                                                <ul class="list-unstyled">
                                                    <li class="">
                                                        <div class="row middle-xs action-wrapper ">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <div class="box">
                                                                    <label class="required ng-scope"  translate="credential.detail.upgrade.certificateAuthorities"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                                    <select class="form-control" id="CerAuthName2"
                                                                            name="CerAuthName2"
                                                                            ng-disabled="vm.disabled"
                                                                            ng-change="vm.getCertificateProfileName2();" required
                                                                            ng-model="vm.request.cerAuthName2" 
                                                                            ng-options="item.name as item.name for item in vm.CerAuth2">
                                                                        <option ng-if="item.value == 'undefined'"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bd-bottom">&nbsp;</div>
                                                    </li>
                                                    <li class="">
                                                        <div class="row middle-xs action-wrapper ">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <div class="box">
                                                                    <label class="required ng-scope" translate="credential.detail.upgrade.certificateProfile"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                                    <!--{{vm.detail.cert.certificateProfile.name}}-->
                                                                    <!--ng-change="vm.chooseCertiProfile();"-->
                                                                    <select class="form-control"
                                                                            id="resCertPN2" name="resCertPN2"
                                                                            ng-disabled="vm.disabled"
                                                                            ng-change="vm.chooseCertiProfile2();"
                                                                            ng-model="vm.request.CerAuthProName2" required 
                                                                            ng-options="item.name as item.description for item in vm.resCertPN2">
                                                                        <option ng-if="item.value == 'undefined'"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bd-bottom">&nbsp;</div>
                                                    </li>
                                                    <li class="">
                                                        <div class="row middle-xs action-wrapper ">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <div class="box" >
                                                                    <label class=" ng-scope" translate="credential.detail.upgrade.signingProfile"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                                    <select class="form-control"
                                                                            ng-disabled="vm.disabled"
                                                                            ng-change="vm.rqChooseSC2();"
                                                                            ng-model="vm.request.signingProfile2" required
                                                                            ng-init="vm.request.signingProfile2 = 'UNLIMITED'"
                                                                            ng-options="item.name as item.description for item in vm.SnProdata2">
                                                                        <option ng-if="item.value == 'undefined'"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bd-bottom">&nbsp;</div>
                                                    </li>
                                                    <li class="" ng-if="vm.ifSigningProfileCustomer">
                                                        <div class="row middle-xs action-wrapper ">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <div class="box" >
                                                                    <label class="required ng-scope" translate="credential.detail.upgrade.signingProfileValue"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                                    <input name="signingProfileValue" id="signingProfileValue" required="true"
                                                                           class="form-control" ng-disabled="vm.disabled2" ng-model="vm.request.signingProfileValue"
                                                                           onkeyup="this.value = this.value.replace(/\s/, '')"
                                                                           />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bd-bottom">&nbsp;</div>
                                                    </li>
                                                    <li class="" ng-if="vm.detail2.authMode != 'IMPLICIT/TSE' && vm.detail2.authMode != 'IMPLICIT/BIP-CATTP'">
                                                        <div class="row middle-xs action-wrapper ">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <div class="box" >
                                                                    <label class="required ng-scope" ng-if="vm.detail2.authMode == 'EXPLICIT/PIN'" translate="credential.detail.upgrade.pin"></label>
                                                                    <label class="required ng-scope" ng-if="vm.detail2.authMode == 'EXPLICIT/OTP-SMS' || vm.detail2.authMode == 'EXPLICIT/OTP-EMAIL'" translate="credential.detail.upgrade.otp"></label>

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-xs-12" >
                                                                <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12" style="position: relative;">
                                                                    <input  name="authorizeCode2" id="authorizeCode2" required="true"
                                                                            class="form-control " autocomplete="new-password" ng-disabled="vm.disabled2"
                                                                            placeholder="" ng-model="vm.request.authorizeCode2" minlength="1" maxlength="20"
                                                                            aria-invalid="false" type="password"
                                                                            onkeyup="this.value = this.value.replace(/\s/, '')"
                                                                            ng-attr-type="{{ showPassword2 ? 'text':'password'}}"
                                                                            />
                                                                    <i ng-click="toggleShowPassword2();" class="sh-input" ng-class="{'sc-eye': showPassword2, 'sc-eye-slash': !showPassword2}" style="cursor: pointer;" ></i>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bd-bottom">&nbsp;</div>
                                                    </li>
                                                    <li class="">
                                                        <div class="row middle-xs action-wrapper ">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <div class="box" translate="credential.renew.duration">

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12" ng-if="vm.step == 1">
                                                                    {{vm.resCertPN2[0].duration}} {{'credential.renew.day'| translate }}
                                                                </div>
                                                                <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12" ng-if="vm.step == 2">
                                                                    {{vm.certDetail2.duration}} {{'credential.renew.day'| translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bd-bottom">&nbsp;</div>
                                                    </li>
                                                    <li class="">
                                                        <div class="row middle-xs action-wrapper ">
                                                            <div class="col-lg-3 col-md-3 col-xs-12">
                                                                <div class="box" translate="credential.detail.upgrade.amount"></div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-xs-12">
                                                                <div ng-if="vm.step == 1">
                                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12" ng-if="!vm.fnChooseAM2">
                                                                        {{vm.resCertPN2[0].renewalAmount| currency: '': 0}} VND
                                                                    </div>
                                                                </div>
                                                                <div ng-if="vm.step == 2">
                                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12" ng-if="!vm.fnChooseAM2">
                                                                        {{vm.certDetail2.renewalAmount| currency: '': 0}} VND
                                                                    </div>
                                                                </div>
                                                                <div class="box font-weight-bold col-6" ng-if="vm.fnChooseAM2">
                                                                    {{vm.getChooseAM2.amount| currency: '': 0}} VND
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bd-bottom">&nbsp;</div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <md-radio-group ng-if="vm.rqPayment2" required name="paymentBtn" ng-model="vm.request.item2" >
                                                <table>
                                                    <tr ng-repeat=" item in vm.getPMProvider2.paymentProviders">
                                                        <td>
                                                            <div>
                                                                <label for="{{item.name}}" style="cursor: pointer;">
                                                                    <div class="payment-group">
                                                                        <md-radio-button class="md-primary" ng-value="item"  aria-label="{{item.name}}" required name="paymentBtn" id="paymentBtn">
                                                                            <div style="display: flex;">
                                                                                <div class="payment-img">
                                                                                    <img ng-src="{{item.image}}" class="" />
                                                                                </div>
                                                                                <div class="form-group payment-name">
                                                                                    <div>
                                                                                        <span ng-model="vm.request.name">{{"credential.upgrade.payment.pmProviderName"| translate}} {{item.name}}</span>
                                                                                    </div>
                                                                                    <div>
                                                                                        <span translate="credential.upgrade.payment.pmPro2"></span>
                                                                                    </div>
                                                                                    <div>
                                                                                        <span translate="credential.upgrade.payment.pmPro3"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </md-radio-button>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </md-radio-group>
                                            <div class="form-group" style="margin-left: 20px;">
                                                <div class="col-9 col-md-9 col-lg-9 dis-flex-center" style="margin-bottom: 24px;">
                                                    <message-dialog style="text-transform: uppercase;" obj="vm.dialogMessage2"></message-dialog>
                                                </div>
                                                <div class="col-9 col-md-9 col-lg-9">

                                                    <div style="text-align: center;" ng-show="vm.detail2.authMode == 'IMPLICIT/TSE'">
                                                        <button   type="button" ng-click="vm.cancel()" style="margin: 0 1rem;"
                                                                  class="feid-button button-indigo_inverse button-medium lg-display" aria-label="FeID button"
                                                                  translate="global.button.cancel">CANCEL
                                                        </button>
                                                        <div class="bd-bottom xs-display">&nbsp;</div>
                                                        <button   ng-show="!vm.reqCheck3" type="button"
                                                                  ng-disabled="frm.CerAuthName2.$invalid || frm.resCertPN2.$invalid || frm.signingProfileValue.$invalid"
                                                                  ng-click="vm.confirmRequestUpgrade2()" style="margin: 0 1rem;"
                                                                  class="feid-button button-green button-medium" translate="global.button.init">
                                                            CONFIRM
                                                        </button>
                                                        <button   ng-show="vm.reqConf2" type="button"
                                                                  ng-disabled="frm.paymentBtn.$invalid"
                                                                  ng-click="vm.orderCheckout2()" style="margin: 0 1rem;"
                                                                  class="feid-button button-green button-medium" translate="global.button.confirm">
                                                            CONFIRM
                                                        </button>
                                                        <div class="bd-bottom xs-display">&nbsp;</div>
                                                        <button   type="button" ng-click="vm.cancel()" style="margin: 0 1rem;"
                                                                  class="feid-button button-indigo_inverse button-medium xs-display" aria-label="FeID button"
                                                                  translate="global.button.cancel">CANCEL
                                                        </button>
                                                    </div>
                                                    <div style="text-align: center;" ng-show="vm.detail2.authMode != 'IMPLICIT/TSE'">
                                                        <button   type="button" ng-click="vm.cancel()" style="margin: 0 1rem;"
                                                                  class="feid-button button-indigo_inverse button-medium lg-display" aria-label="FeID button"
                                                                  translate="global.button.cancel">CANCEL
                                                        </button>
                                                        <div class="bd-bottom xs-display">&nbsp;</div>

                                                        <button   ng-show="!vm.reqCheck3" type="button" style="margin: 0 1rem;"
                                                                  ng-disabled="frm.CerAuthName2.$invalid || frm.resCertPN2.$invalid ||
                                                                            frm.authorizeCode2.$invalid || frm.signingProfileValue.$invalid"
                                                                  ng-click="vm.confirmRequestUpgrade2()"
                                                                  class="feid-button button-green button-medium" translate="global.button.init">
                                                            CONFIRM
                                                        </button>
                                                        <button   ng-show="vm.reqConf2" type="button"
                                                                  ng-disabled="frm.paymentBtn.$invalid"
                                                                  ng-click="vm.orderCheckout2()" style="margin: 0 1rem;"
                                                                  class="feid-button button-green button-medium" translate="global.button.confirm">
                                                            CONFIRM
                                                        </button>
                                                        <div class="bd-bottom xs-display">&nbsp;</div>
                                                        <button   type="button" ng-click="vm.cancel()" style="margin: 0 1rem;"
                                                                  class="feid-button button-indigo_inverse button-medium xs-display" aria-label="FeID button"
                                                                  translate="global.button.cancel">CANCEL
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
