<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center" style="min-width: 300px">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;" translate="credential.detail.changeMultiSign.title"></h5>
        </div>
    </md-toolbar>

    <md-dialog-content ng-if="!(ctrl.data.authMode == 'IMPLICIT/TSE' || ctrl.data.authMode == 'IMPLICIT/BIP-CATTP' || ctrl.data.cert.status == 'generated')">
        <form class="" id="frm" name="frm">
            <div class="col-sm-12 container-720">
                <div class="container">
                    <div class="container-step">
                        <ul class="progressbar-step">
                            <li style="width: 50%" ng-class="{active : ctrl.step >= 1 }">{{'global.notification.initRequest'| translate}}</li>
                            <li style="width: 50%" ng-class="{active : ctrl.step >= 2 }">{{'global.notification.confirmRequest'| translate}}</li>
                        </ul>
                    </div>

                    <div class="intiRequest" >
                        <div class="form-group">
                            <label class="required" translate="credential.detail.changeMultiSign.multiSign"></label>

                            <md-radio-group ng-model="ctrl.request.multisign" aria-labelledby="authMode">
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width: 50%">
                                    <md-radio-button  ng-disabled="!ctrl.initRequest || ctrl.data.multisign == ctrl.multipleSignings[0].value" class="md-primary" ng-value="ctrl.multipleSignings[0].value"
                                                      >{{ctrl.multipleSignings[0].name}}
                                    </md-radio-button>
                                    </td>
                                    <td>
                                    <md-radio-button  ng-disabled="!ctrl.initRequest || ctrl.data.multisign == ctrl.multipleSignings[1].value" class="md-primary" ng-value="ctrl.multipleSignings[1].value"
                                                      >{{ctrl.multipleSignings[1].name}}
                                    </md-radio-button>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <md-radio-button  ng-disabled="!ctrl.initRequest || ctrl.data.multisign == ctrl.multipleSignings[2].value" class="md-primary" ng-value="ctrl.multipleSignings[2].value"
                                                      >{{ctrl.multipleSignings[2].name}}
                                    </md-radio-button>
                                    </td>
                                    <td>
                                    <md-radio-button  ng-disabled="!ctrl.initRequest || ctrl.data.multisign == ctrl.multipleSignings[3].value" class="md-primary" ng-value="ctrl.multipleSignings[3].value"
                                                      >{{ctrl.multipleSignings[3].name}}
                                    </md-radio-button>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <md-radio-button  ng-disabled="!ctrl.initRequest || ctrl.data.multisign == ctrl.multipleSignings[4].value" class="md-primary" ng-value="ctrl.multipleSignings[4].value"
                                                      >{{ctrl.multipleSignings[4].name}}
                                    </md-radio-button>
                                    </td>
                                    <td>
                                    <md-radio-button  ng-disabled="!ctrl.initRequest || ctrl.data.multisign == ctrl.multipleSignings[5].value" class="md-primary" ng-value="ctrl.multipleSignings[5].value"
                                                      >{{'global.notification.unlimited'| translate}}
                                    </md-radio-button>
                                    </td>
                                    </tr>

                                </table>
                            </md-radio-group>
                        </div>
                    </div>

                    <div ng-if="!ctrl.initRequest">

                        <div class="form-group" style="position: relative; margin-bottom: 0;">
                            <div style="position: relative;">
                                <label  ng-if="ctrl.data.authMode != 'EXPLICIT/PIN'" class="required" translate="credential.detail.changeMultiSign.otpCode"></label>
                                <label  ng-if="ctrl.data.authMode == 'EXPLICIT/PIN'" class="required" translate="credential.detail.changeMultiSign.pinCode"></label>
                                <input name="authorizeCode" id="authorizeCode" type="{{ ctrl.data.authMode == 'EXPLICIT/PIN' ? 'password' : 'text' }}"  required="true"
                                       class="feid-input input-medium input-default feid-input-center "
                                       onkeyup="this.value = this.value.replace(/\s/, '')"
                                       autocomplete="new-password"
                                       placeholder="" ng-model="ctrl.request.authorizeCode" minlength="1" maxlength="20"
                                       ng-attr-type="{{ ctrl.showPassword ? 'text':'password'}}"
                                       >
                                <i ng-click="ctrl.toggleShowPassword();" style="bottom: 11px;cursor: pointer;" class="sh-change" ng-class="{'sc-eye': ctrl.showPassword, 'sc-eye-slash': !ctrl.showPassword}" style="cursor: pointer;" ></i>

                            </div>

                            <label class="feid-label feid-label-default feid-label-warning"
                                   ng-class="{'feid-label-show' : !(frm.authorizeCode.$dirty && frm.authorizeCode.$invalid)}">
                                <span class="help-block"
                                      ng-show="frm.authorizeCode.$invalid"
                                      translate="global.validate.isRequired"
                                      translate-values='{ field: "credential.detail.changeAuthMode.pinCode" }'
                                      >

                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-center dis-flex-center " ng-show="ctrl.logMess" style="text-transform: uppercase;margin-bottom: 0;">
                        <!--                        <div ng-if="ctrl.data.authMode == 'EXPLICIT/PIN' || ctrl.data.authMode == 'EXPLICIT/OTP-SMS' || ctrl.data.authMode == 'EXPLICIT/OTP-EMAIL'">
                                                    <div class="alert alert-success width-max-content margin-left-right" ng-if="ctrl.sentOTPSuccess"
                                                         style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                                                        {{"global.sendOTP.mess.success" | translate}}
                                                    </div>
                                                </div>-->
                        <message-dialog style="text-transform: uppercase;" obj="ctrl.dialogMessage"></message-dialog>
                    </div>
                    <!--                    </fieldset>-->
                    <div class="form-group dis-flex-center" style="margin: 24px 0;">
                        <div style="text-align: center; margin: 0 1rem;">
                            <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                    class="feid-button button-indigo_inverse button-medium" aria-label="FeID button"
                                    translate="global.button.cancel">CANCEL
                            </button>
                        </div>
                        <div style=";text-align: center; margin: 0 1rem;" ng-if="ctrl.initRequest">
                            <button id="feid-modal-confirm-confirm-button" type="button"
                                    ng-click="ctrl.initRequest()" ng-disabled="frm.$invalid || ctrl.request.multisign == ctrl.data.multisign"
                                    class="feid-button button-green button-medium" translate="global.button.init">
                                RESET
                            </button>
                        </div>
                        <div style="text-align: center; margin: 0 1rem;" ng-if="!ctrl.initRequest">
                            <button id="feid-modal-confirm-confirm-button" type="button" ng-disabled="frm.$invalid || ctrl.step == 2"
                                    ng-click="ctrl.confirmRequest()"
                                    class="feid-button button-green button-medium" translate="global.button.confirm">
                                CONFIRM
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </md-dialog-content>

    <md-dialog-content ng-if="(ctrl.data.authMode == 'IMPLICIT/TSE' || ctrl.data.authMode == 'IMPLICIT/BIP-CATTP')">
        <form style="">
            <div class="col-sm-12">
                <div class="form-group text-center" style="margin-top: 2rem;">
                    <label class="required" translate="credential.detail.changeScal.missScal" style="color: red;"></label>
                </div>

                <div class="form-group text-center" style="margin-bottom: 24px;">
                    <div style="text-align: center; margin-top: 24px;">
                        <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                class="feid-button button-indigo_inverse button-medium" aria-label="FeID button">
                            {{'global.button.confirm'| translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>

    <md-dialog-content ng-if="(ctrl.data.cert.status == 'generated')">
        <form style="">
            <div class="col-sm-12">
                <div class="form-group text-center" style="margin-top: 2rem;">
                    <label class="required" translate="credential.detail.changeScal.notSp" style="color: red;"></label>
                </div>

                <div class="form-group text-center" style="margin-bottom: 24px;">
                    <div style="text-align: center; margin-top: 24px;">
                        <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                class="feid-button button-indigo_inverse button-medium" aria-label="FeID button">
                            {{'global.button.confirm'| translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>


</md-dialog>
