<div class="main-panel" id="main-panel">
    <!-- Navbar -->
    <div ui-view="navbarTop"></div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a ui-sref="credential.list"> <i class="fa fa-home"></i>
                                List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                        </ol>
                        <span class="title">Detail</span>

                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box font-weight-bold">
                                            Key
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            Value
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Issuer To
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{vm.detail.cert.issuerDN | convertIssuerDN}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box ">
                                            Serial Number
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{vm.detail.cert.serialNumber}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box ">
                                            Valid From
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{(vm.detail.cert.validFrom | convertString2DateTime) | date: 'dd-MM-yyyy HH:mm:ss'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Valid To
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{(vm.detail.cert.validTo | convertString2DateTime) | date: 'dd-MM-yyyy HH:mm:ss'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Remaining Signing Counter
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            <span ng-if="vm.detail.remainingSigningCounter == -1">Unlimited</span>
                                            <span ng-if="vm.detail.remainingSigningCounter != -1">{{vm.detail.remainingSigningCounter}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Multiple Signing
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            <span ng-if="vm.detail.multisign == 0">Unlimited</span>
                                            <span ng-if="vm.detail.multisign != 0">{{vm.detail.multisign}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            SCAL
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{vm.detail.SCAL}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Certificate Profile
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{vm.detail.cert.certificateProfile.name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Certificate Profile Description
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{vm.detail.cert.certificateProfile.description}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Key Usage
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{vm.detail.cert.purpose}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Authorization Email
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{vm.detail.authorizationEmail}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                            <li class="">
                                <div class="row middle-xs action-wrapper ">
                                    <div class="col-5 col-md-4 col-lg-4">
                                        <div class="box">
                                            Authorization Phone
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8 col-lg-8">
                                        <div class="box font-weight-bold">
                                            {{vm.detail.authorizationPhone}}
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-bottom">&nbsp;</div>
                            </li>
                        </ul>
                        <a ui-sref="credential.list.detail.history({id: vm.id})"> <i class="fa fa-history"></i> Go History</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view="footer"></div>

</div>
