<div class="box-wrapper">
    <div>
        <div ui-view="sideBar"></div>

        <div style="margin-top: 20px; margin-bottom: 20px; padding-left: 10px; padding-right: 10px;">
            <div class="scroll-credential-detail">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="box">
                            <h4 class="feid-heading heading-indigo heading-left heading-strong" translate="credential.detail.title">
                                Detail
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs col-sm col-md col-lg ">
                        <div class="box">
                            <div>
                                <div class="card-body bg-white">
                                    <ul class="list-unstyled">
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box font-weight-bold text-uppercase" style="font-size: 20px" translate="credential.detail.item">
                                                        Item
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold text-uppercase" style="font-size: 20px" translate="credential.detail.description">
                                                        Description
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>

                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box" translate="credential.detail.issuerTo">
                                                        Issuer To
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        {{vm.detail.cert.issuerDN| convertIssuerDN}}
                                                        <input class="form-control" style="display: none;" ng-model="vm.request.issuerDN" value="{{vm.detail.cert.issuerDN| convertIssuerDN}}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if="vm.detail.cert.serialNumber">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box "  translate="credential.detail.serialNumber">
                                                        Serial Number
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        {{vm.detail.cert.serialNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if="vm.detail.cert.validFrom">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box "  translate="credential.detail.validFrom">
                                                        Valid From
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        {{(vm.detail.cert.validFrom| convertString2DateTime) | date: 'dd-MM-yyyy HH:mm:ss'}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if="vm.detail.cert.validTo">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.validTo">
                                                        Valid To
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        {{(vm.detail.cert.validTo| convertString2DateTime) | date:
                                                        'dd-MM-yyyy HH:mm:ss'}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.remainingSigningCounter">
                                                        Remaining Signing Counter
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        <span ng-if="vm.detail.remainingSigningCounter == -1">{{'global.notification.unlimited'| translate}}</span>
                                                        <span ng-if="vm.detail.remainingSigningCounter != -1">{{vm.detail.remainingSigningCounter| number: 0}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.multipleSigning">
                                                        Multiple Signing
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">

                                                        <button class="btn btn-primary btn-sm"
                                                                ng-show="vm.detail.authMode != 'IMPLICIT/TSE'"
                                                                ng-if="vm.detail.cert.status != 'GENERATED'  "
                                                                ng-click="vm.popupChangeMultiSign();"
                                                                detail="vm.detail">
                                                            <i class="fa fa-edit" detail="vm.detail"></i>
                                                        </button>

                                                        <span ng-if="vm.detail.multisign == 0">{{'global.notification.unlimited'| translate}}</span>
                                                        <span ng-if="vm.detail.multisign != 0">{{vm.detail.multisign| number: 0}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.authMode">
                                                        Auth Mode
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        <button class="btn btn-primary btn-sm"
                                                                ng-show="vm.detail.authMode != 'IMPLICIT/TSE'"
                                                                ng-if="vm.detail.cert.status != 'GENERATED'"
                                                                ng-click="vm.popupChangeAuthMode();"
                                                                ng-disabled="vm.detail.authMode == 'IMPLICIT/TSE'"
                                                                detail="vm.detail"><i class="fa fa-edit"
                                                                              detail="vm.detail"></i>
                                                        </button>
                                                        {{vm.detail.authMode}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.scal">
                                                        SCAL
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        <button ng-if="vm.detail.cert.status != 'GENERATED'"
                                                                ng-show="vm.detail.authMode != 'IMPLICIT/TSE'"
                                                                class="btn btn-primary btn-sm" ng-click="vm.popupChangeScal()">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        {{vm.detail.SCAL}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.certificateProfile">
                                                        Certificate Profile
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        {{vm.detail.cert.certificateProfile.name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.certificateProfileDescription">
                                                        Certificate Profile Description
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        {{vm.detail.cert.certificateProfile.description}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.keyUsage">
                                                        Key Usage
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        {{vm.detail.cert.purpose}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.authorizationEmail">
                                                        Authorization Email
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        <button class="btn btn-primary btn-sm"
                                                                ng-if="vm.detail.cert.status != 'GENERATED'"
                                                                ng-click="vm.popupChangeEmail();"
                                                                detail="vm.detail">
                                                            <i class="fa fa-edit" detail="vm.detail"></i>

                                                        </button>
                                                        {{vm.detail.authorizationEmail}}


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if='vm.detail.authorizationPhone'>
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box"  translate="credential.detail.authorizationPhone">
                                                        Authorization Phone
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        <button class="btn btn-primary btn-sm"
                                                                ng-if="vm.detail.cert.status != 'GENERATED'"
                                                                ng-click="vm.popupChangePhone();"
                                                                detail="vm.detail"><i class="fa fa-edit"
                                                                              detail="vm.detail"></i>
                                                        </button>
                                                        {{vm.detail.authorizationPhone}}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if='vm.detail.cert.csr'>
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box" translate="credential.detail.download.csr.title">

                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        <a class="" download ng-click="vm.popupDownloadCSR();">
                                                            <button class="btn btn-primary btn-sm">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                                                </svg>
                                                                {{"credential.detail.download.csr.button"| translate}}
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if='!vm.detail.cert.csr'>
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-5 col-md-4 col-lg-4">
                                                    <div class="box" translate="credential.detail.download.cts.title">

                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8 col-lg-8">
                                                    <div class="box font-weight-bold">
                                                        <a class="" download ng-click="vm.popupDownloadCTS();">
                                                            <button class="btn btn-primary btn-sm">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                                                </svg>
                                                                {{"credential.detail.download.cts.button"| translate}}
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>

                                        <li>
                                            <div class="row middle-xs action-wrapper wrapper-deltail-menus">
                                                <div class="wrapper-deltail-menu">
                                                    <div class="box">
                                                        <a class="feid-link-external link-color-indigo" ui-sref="credential.list">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" style="margin-bottom: 5px;" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                                                            </svg>
                                                            {{"credential.back"| translate}}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="wrapper-deltail-menu">
                                                    <div class="box">
                                                        <a class="feid-link-external link-color-indigo" ui-sref="credential.list.detail.history({id: vm.id})">
                                                            <i class="fa fa-history"></i> {{"credential.detail.linkGoHistory"| translate}}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="wrapper-deltail-menu" ng-if="vm.detail.cert.status != 'GENERATED' && vm.detail.cert.status != 'LOST' && vm.detail.cert.status != 'INITIALIZED'">
                                                    <a class="feid-link-external link-color-indigo" ui-sref="credential.list.detail.resetPassphrase">
                                                        <i class="fa fa-sync"></i> {{"credential.detail.resetPassPhrase.title"| translate}}
                                                    </a>
                                                </div>
                                                <div class="wrapper-deltail-menu"  ng-if="vm.detail.cert.status != 'GENERATED' && vm.detail.cert.status != 'LOST' && vm.detail.cert.status != 'INITIALIZED'">
                                                    <a class="feid-link-external link-color-indigo"  ui-sref="credential.list.detail.changePassphrase">
                                                        <i class="fa fa-edit"></i> {{"credential.detail.changePassPhrase.title"| translate}}
                                                    </a>
                                                </div>
                                                <div class="wrapper-deltail-menu" ng-if="vm.detail.trialEnabled && vm.detail.cert.status != 'RENEWED'">
                                                    <div class="box">
                                                        <a class="feid-link-external link-color-indigo" ui-sref="credential.list.detail.upgrade">
                                                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 3px;" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
                                                            </svg>
                                                            {{"credential.detail.upgrade.certificate"| translate}}
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="wrapper-deltail-menu" ng-if=" (vm.detail.cert.status != 'GENERATED' && vm.detail.cert.status != 'LOST' && vm.detail.cert.status != 'INITIALIZED' && vm.detail.cert.status != 'RENEWED') &&  !vm.detail.trialEnabled">
                                                    <div class="box">
                                                        <a class="feid-link-external link-color-indigo" ui-sref="credential.list.detail.renew">
                                                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 3px;" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                                                            </svg>
                                                            {{"credential.detail.renew.certificate"| translate}}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="wrapper-deltail-menu" ng-if=" vm.detail.cert.status == 'GENERATED'">
                                                    <div class="box">
                                                        <a class="feid-link-external link-color-indigo a-href" ng-click="vm.pupupUpload();">
                                                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 3px;" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                                            </svg>
                                                            {{"credential.detail.import.title"| translate}}
                                                        </a>
                                                    </div>
                                                </div>
<!--                                                <div class="wrapper-deltail-menu" ng-if=" vm.detail.cert.status == 'GENERATED'">
                                                    <div class="box">
                                                        <a class="feid-link-external link-color-indigo a-href" ng-click="vm.pupupGoOrder();">
                                                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px;" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                            </svg>
                                                            {{"credential.detail.go.order"| translate}}
                                                        </a>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
