<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center" style="min-width: 300px">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;" translate="credential.detail.changePhone.title"></h5>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form class="" id="frm" name="frm">
            <div class="col-sm-12 container-720">
                <div class="col">
                    <div class="container-step">
                        <ul class="progressbar-step">
                            <li style="width: 50%" ng-class="{active : ctrl.step >= 1 }">{{'global.notification.initRequest'| translate}}</li>
                            <li style="width: 50%" ng-class="{active : ctrl.step >= 2 }">{{'global.notification.confirmRequest'| translate}}</li>
                        </ul>
                    </div>

                    <div class="intiRequest container-step" ng-if="ctrl.initRequest" style="margin-bottom: 0;">
                        <div class="">
                            <div class="form-group">
                                <label class="required" translate="credential.detail.changePhone.currentPhone"></label>
                                <input name="currentPhone" id="currentPhone" type="text"
                                       class="feid-input input-medium input-default feid-input-center "
                                       placeholder="OTP" readonly ng-model="ctrl.data.authorizationPhone"
                                       aria-invalid="false" style="">
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <label class="required" translate="credential.detail.changePhone.newPhone"></label>
                                <input name="newPhone" id="newPhone" type="text"
                                       required
                                       onkeyup="this.value = this.value.replace(/\s/, '')"
                                       pattern="^(\+84|84)?([0-9]{10,16})$"
                                       class="feid-input input-medium input-default feid-input-center "
                                       ng-model="ctrl.request.newPhone"
                                       aria-invalid="false" style="">
                                <label class="feid-label feid-label-default feid-label-warning "
                                       ng-class="{'feid-label-show' : !(frm.newPhone.$dirty && frm.newPhone.$invalid)}">
                                    <span class="help-block"
                                          ng-show="frm.newPhone.$error.required"
                                          translate="global.validate.isRequired"
                                          translate-values='{ field: "credential.detail.changePhone.newPhone" }'>
                                        Invalid
                                    </span>
                                    <span class="help-block"
                                          ng-show="frm.newPhone.$error.pattern"
                                          translate="credential.detail.changePhone.phoneInvalid">
                                        50 characters
                                    </span>
                                </label>
                            </div>
                        </div>

                    </div>

                    <div ng-if="!ctrl.initRequest">

                        <div class="form-group">
                            <label class="required" translate="credential.detail.changePhone.otpCurrentPhone"></label>
                            <input name="otpCurrentPhone" id="otpCurrentPhone" type="text" required="true"
                                   class="feid-input input-medium input-default feid-input-center "
                                   placeholder="" ng-model="ctrl.request.otpCurrentPhone" minlength="1" maxlength="20"
                                   value=""
                                   onkeyup="this.value = this.value.replace(/\s/, '')"
                                   aria-invalid="false" style="">
                            <label class="feid-label feid-label-default feid-label-warning"
                                   ng-class="{'feid-label-show' : !(frm.otpCurrentPhone.$dirty && frm.otpCurrentPhone.$invalid)}">
                                <span class="help-block"
                                      ng-show="frm.otpCurrentPhone.$invalid"
                                      translate="global.validate.isRequired"
                                      translate-values='{ field: "credential.detail.changePhone.otpCurrentPhone" }'>
                                    Invalid
                                </span>
                            </label>
                        </div>
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="required" translate="credential.detail.changePhone.otpNewPhone"></label>
                            <input name="otpNewPhone" id="otpNewPhone" type="text" required="true"
                                   class="feid-input input-medium input-default feid-input-center "
                                   placeholder="" ng-model="ctrl.request.otpNewPhone" minlength="1" maxlength="20"
                                   value=""
                                   onkeyup="this.value = this.value.replace(/\s/, '')"
                                   aria-invalid="false" style="">
                            <label class="feid-label feid-label-default feid-label-warning"
                                   ng-class="{'feid-label-show' : !(frm.otpNewPhone.$dirty && frm.otpNewPhone.$invalid)}">
                                <span class="help-block"
                                      ng-show="frm.otpNewPhone.$invalid"
                                      translate="global.validate.isRequired"
                                      translate-values='{ field: "credential.detail.changePhone.otpNewPhone" }'>
                                    Invalid
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-center dis-flex-center" style="margin-bottom: 0;">
                        <div ng-show="ctrl.request.newPhone == ctrl.data.authorizationPhone && ctrl.dialogFail == 1" style="text-transform: uppercase;">
                            <div class="alert alert-danger width-max-content margin-left-right"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center" id="successClose">
                                {{"credential.detail.changePhone.mess.error"| translate}}
                            </div>
                        </div>
                        <div ng-show="ctrl.otpSuccess">
                            <div class="alert alert-success width-max-content margin-left-right" 
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center; text-transform: uppercase;" id="successClose">
                                {{"credential.detail.changeEmail.mess.otpSuccess"| translate}}
                            </div>
                        </div>
                        <message-dialog style="text-transform: uppercase;" obj="ctrl.dialogMessage"></message-dialog>

                    </div>
                    <!--                    </fieldset>-->
                    <div class="form-group dis-flex-center" style="margin: 24px 0;">
                        <div style="text-align: center; margin: 0 1rem;">
                            <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                    class="feid-button button-indigo_inverse button-medium" aria-label="FeID button"
                                    translate="global.button.cancel">CANCEL
                            </button>
                        </div>
                        <div style=";text-align: center; margin: 0 1rem;" ng-if="ctrl.initRequest">
                            <button id="feid-modal-confirm-confirm-button" type="button"
                                    ng-click="ctrl.initRequestChangePhone()" ng-disabled="frm.$invalid || ctrl.request.newPhone == ctrl.data.authorizationPhone"
                                    class="feid-button button-green button-medium" translate="global.button.init">
                                RESET
                            </button>
                        </div>
                        <div style="text-align: center; margin: 0 1rem;" ng-if="!ctrl.initRequest">
                            <button id="feid-modal-confirm-confirm-button" type="button" ng-disabled="frm.$invalid || ctrl.step == 2"
                                    ng-click="ctrl.confirmRequestChangePhone()"
                                    class="feid-button button-green button-medium" translate="global.button.confirm">
                                CONFIRM
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </md-dialog-content>


</md-dialog>
