<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;">{{'credential.detail.changeScal.title'| translate}}</h5>
        </div>
    </md-toolbar>

    <md-dialog-content ng-if="!(ctrl.data.authMode == 'IMPLICIT/TSE' || ctrl.data.authMode == 'IMPLICIT/BIP-CATTP' || ctrl.data.cert.status == 'generated')">
        <form class="" id="frm" name="frm">
            <div class="col-sm-12 container-720">
                <div class="container">
                    <div class="container-step">
                        <ul class="progressbar-step">
                            <li style="width: 50%" ng-class="{active : ctrl.step >= 1 }">{{'global.notification.initRequest'| translate}}</li>
                            <li style="width: 50%" ng-class="{active : ctrl.step >= 2 }">{{'global.notification.confirmRequest'| translate}}</li>
                        </ul>
                    </div>

                    <div class="initRequest">
                        <div class="form-group">
                            <div class="box">
                                <h4 class="feid-heading heading-indigo heading-left heading-strong">{{'credential.detail.changeScal.scal'| translate}}</h4>
                            </div>
                            <md-radio-group ng-model="ctrl.request.scal" aria-labelledby="authMode">
                                <md-radio-button ng-disabled="!ctrl.initRequest || ctrl.data.SCAL == '1'" class="md-primary"  value="1">1 </md-radio-button>
                                <md-radio-button ng-disabled="!ctrl.initRequest || ctrl.data.SCAL == '2'" class="md-primary"  value="2">2 </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>

                    <div ng-if="!ctrl.initRequest">
                        <div class="form-group" style="position: relative; margin-bottom: 0;">
                            <div style="position: relative;">
                                <label  ng-if="ctrl.data.authMode != 'EXPLICIT/PIN'" class="required" translate="credential.detail.changeMultiSign.otpCode"></label>
                                <label  ng-if="ctrl.data.authMode == 'EXPLICIT/PIN'" class="required" translate="credential.detail.changeMultiSign.pinCode"></label>
                                <input name="authorizeCode" id="authorizeCode" type="{{ ctrl.data.authMode == 'EXPLICIT/PIN' ? 'password' : 'text' }}"  required="true"
                                       class="feid-input input-medium input-default feid-input-center "
                                       onkeyup="this.value = this.value.replace(/\s/, '')"
                                       placeholder="" ng-model="ctrl.request.authorizeCode" minlength="1" maxlength="20"
                                       ng-attr-type="{{ ctrl.showPassword ? 'text':'password'}}">
                                <i ng-click="ctrl.toggleShowPassword();" class="sh-login" ng-class="{'sc-eye': ctrl.showPassword, 'sc-eye-slash': !ctrl.showPassword}" style="cursor: pointer;" ></i>

                            </div>

                            <label class="feid-label feid-label-default feid-label-warning"
                                   ng-class="{'feid-label-show' : !(frm.authorizeCode.$dirty && frm.authorizeCode.$invalid)}">
                                <span class="help-block"
                                      ng-show="frm.authorizeCode.$invalid"
                                      translate="global.validate.isRequired"
                                      translate-values='{ field: "credential.detail.changeAuthMode.pinCode" }'
                                      >

                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group dis-flex-center" ng-show="ctrl.logMess">
                        <message-dialog obj="ctrl.dialogMessage"></message-dialog>
                    </div>
                    <div class="form-group ">
                        <div class="dis-flex-center" style="margin: 24px 0;">
                            <div style="text-align: center; margin: 0 1rem;">
                                <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                        class="feid-button button-indigo_inverse button-medium" aria-label="FeID button">
                                    {{'global.button.cancel'| translate}}
                                </button>
                            </div>
                            <div style="text-align: center; margin: 0 1rem;" ng-if="ctrl.initRequest">
                                <button id="feid-modal-confirm-confirm-button" ng-click="ctrl.initRequest()"
                                        type="button" class="feid-button button-green button-medium" translate="global.button.init" 
                                        ng-disabled=" frm.$invalid || ctrl.request.scal == ctrl.data.SCAL">
                                </button>
                            </div>

                            <div style="text-align: center; margin: 0 1rem;" ng-if="!ctrl.initRequest">
                                <button id="feid-modal-confirm-confirm-button" ng-click="ctrl.changeScal()"
                                        type="button" class="feid-button button-green button-medium">
                                    {{'global.button.update'| translate}}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </form>
    </md-dialog-content>

    <md-dialog-content ng-if="(ctrl.data.authMode == 'IMPLICIT/TSE' || ctrl.data.authMode == 'IMPLICIT/BIP-CATTP')">
        <form style="">
            <div class="col-sm-12">
                <div class="form-group text-center" style="margin-top: 2rem;">
                    <label class="required" translate="credential.detail.changeScal.missScal" style="color: red;"></label>
                </div>

                <div class="form-group text-center" style="margin-bottom: 24px;">
                    <div style="text-align: center; margin-top: 24px;">
                        <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                class="feid-button button-indigo_inverse button-medium" aria-label="FeID button">
                            {{'global.button.confirm'| translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>

    <md-dialog-content ng-if="(ctrl.data.cert.status == 'generated')">
        <form style="">
            <div class="col-sm-12">
                <div class="form-group text-center" style="margin-top: 2rem;">
                    <label class="required" style="text-transform: uppercase; color: red;" translate="credential.detail.changeScal.notSp" ></label>
                </div>

                <div class="form-group text-center" style="margin-bottom: 24px;">
                    <div style="text-align: center; margin-top: 24px;">
                        <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                class="feid-button button-indigo_inverse button-medium" aria-label="FeID button">
                            {{'global.button.confirm'| translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>




</md-dialog>
