<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center" style="min-width: 300px">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;" translate="accountProfile.changePassword.title">Change
                Password</h5>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="col-sm-12 container-720">
            <form class="" id="frm" name="frm" ng-submit="ctrl.changePassword($event)" style="">
                <fieldset ng-disabled="ctrl.disabled" style="padding-bottom: 0px">

                    <div class="form-group" style="margin-bottom: 0px; position: relative;">

                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class="{'feid-label-hidden' : !(frm.oldPassword.$dirty && frm.oldPassword.$invalid)}">
                            <span class="help-block"
                                  ng-if="frm.oldPassword.$error.required"
                                  translate="global.validate.isRequired"
                                  translate-values='{ field: "accountProfile.changePassword.oldPassword" }'>
                                Old Password is required
                            </span>
                        </label>
                        <label class="feid-label feid-label-default feid-label-warning feid-label-hidden">
                            <span class="help-block">Old Password is required</span>
                        </label>
                        <input name="oldPassword" id="oldPassword" type="password" required="true"
                               class="feid-input input-medium input-default feid-input-center "
                               placeholder="{{'accountProfile.changePassword.oldPassword'| translate}}"
                               ng-model="ctrl.oldPassword"
                               ng-attr-type="{{ ctrl.showOldPassword ? 'text':'password'}}"
                               >
                        <i ng-click="ctrl.toggleShowOldPassword();" class="sh-login" ng-class="{'sc-eye': ctrl.showOldPassword, 'sc-eye-slash': !ctrl.showOldPassword}" style="cursor: pointer;" ></i>

                    </div>
                    <div class="form-group" style="margin-bottom: 0px; position: relative;">
                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class="{'feid-label-hidden' : !(frm.newPassword.$dirty && frm.newPassword.$invalid)}">
                            <span class="help-block "
                                  ng-show="frm.newPassword.$error.required"
                                  translate="global.validate.isRequired"
                                  translate-values='{ field: "accountProfile.changePassword.newPassword" }'>
                                New Password is required
                            </span>
                            <span class="help-block"
                                  ng-show="frm.newPassword.$error.minlength"
                                  translate="global.validate.minlength"
                                  translate-values='{ field: "accountProfile.changePassword.newPassword" , length: 2}'>
                                New Password is required to be at least 2 characters
                            </span>
                            <span class="help-block"
                                  ng-show="frm.newPassword.$error.maxlength"
                                  translate="global.validate.maxlength"
                                  translate-values='{ field: "accountProfile.changePassword.newPassword" , length: 50}'>
                                New Password cannot be longer than 50 characters
                            </span>

                        </label>

                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class="{'feid-label-hidden' : !(ctrl.oldPassword == ctrl.newPassword)}">
                            <span class="help-block"
                                  ng-show=" !(frm.oldPassword.$invalid) && (ctrl.newPassword == ctrl.oldPassword)"
                                  translate="accountProfile.changePassword.error"
                                  translate-values='{ field: "accountProfile.changePassword.error" }'
                                  ></span>
                        </label>

                        <input name="newPassword" id="newPassword" type="password" required="true"
                               class="feid-input input-medium input-default feid-input-center "
                               placeholder="{{'accountProfile.changePassword.newPassword'| translate}}"
                               ng-model="ctrl.newPassword" minlength="2" maxlength="50"
                               ng-attr-type="{{ ctrl.showNewPassword ? 'text':'password'}}"
                               >
                        <i ng-click="ctrl.toggleShowNewPassword();" class="sh-login" ng-class="{'sc-eye': ctrl.showNewPassword, 'sc-eye-slash': !ctrl.showNewPassword}" style="cursor: pointer;" ></i>

                    </div>
                    <div class="form-group" style="position: relative; margin-bottom: 0;">
                        <label class="feid-label feid-label-default feid-label-warning"
                               ng-class="{'feid-label-hidden' : !((frm.reNewPassword.$dirty && frm.reNewPassword.$invalid) || (ctrl.newPasswordRepeat != ctrl.newPassword && ctrl.newPasswordRepeat))}">
                            <span class="help-block "
                                  ng-show="frm.reNewPassword.$error.required"
                                  translate="global.validate.isRequired"
                                  translate-values='{ field: "accountProfile.changePassword.retypeNewPassword" }'>
                                Re-type New Password is required
                            </span>
                            <span class="help-block"
                                  ng-show="frm.reNewPassword.$error.minlength"
                                  translate="global.validate.minlength"
                                  translate-values='{ field: "accountProfile.changePassword.newPassword" , length: 2}'>
                                {{'accountProfile.changePassword.retypeNewPassword'| translate}} is required to be at least 4 characters
                            </span>
                            <span class="help-block"
                                  ng-show="frm.reNewPassword.$error.maxlength"
                                  translate="global.validate.maxlength"
                                  translate-values='{ field: "accountProfile.changePassword.retypeNewPassword" , length: 50}'>
                                {{'accountProfile.changePassword.retypeNewPassword'| translate}} cannot be longer than 50 characters
                            </span>
                            <span class="help-block"
                                  ng-show="ctrl.newPasswordRepeat != ctrl.newPassword && !(frm.reNewPassword.$dirty && frm.reNewPassword.$invalid)"
                                  translate="global.validate.notMatch"
                                  translate-values='{ field: "accountProfile.changePassword.retypeNewPassword", focus: "accountProfile.changePassword.newPassword" }'>
                                {{'accountProfile.changePassword.retypeNewPassword'| translate}} not match with New Password
                            </span>

                        </label>
                        <input name="reNewPassword" id="reNewPassword" type="password" required="true"
                               class="feid-input input-medium input-default feid-input-center"
                               placeholder="{{'accountProfile.changePassword.retypeNewPassword'| translate}}"
                               ng-model="ctrl.newPasswordRepeat" minlength="2"
                               maxlength="50" aria-invalid="false" style=""
                               ng-attr-type="{{ ctrl.showReNewPassword ? 'text':'password'}}">
                        <i ng-click="ctrl.toggleShowReNewPassword();" class="sh-login" ng-class="{'sc-eye': ctrl.showReNewPassword, 'sc-eye-slash': !ctrl.showReNewPassword}" style="cursor: pointer;" ></i>

                    </div>
                    <div class="form-group text-center dis-flex-center" style="margin-bottom: 0;">
                        <div ng-if="ctrl.timeoutMsg" style="text-transform: uppercase;">
                            <div class="alert alert-danger width-max-content margin-left-right" ng-value="ctrl.msg" ng-show="ctrl.msgType == 1"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center" id="successClose">
                                {{ctrl.msg}}
                            </div>
                            <div class="alert alert-success width-max-content margin-left-right" ng-value="ctrl.msg" ng-show="ctrl.msgType == 0"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center" >
                                {{ctrl.msg}}
                            </div>
                        </div>
                        <!--<message-dialog obj="ctrl.dialogMessage"></message-dialog>-->

                    </div>
                </fieldset>
                <div class="form-group dis-flex-center" style="margin: 24px 0;">
                    <div style="text-align: center;margin: 0 1rem">
                        <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                class="feid-button button-indigo_inverse button-medium" aria-label="FeID button"
                                translate="global.button.cancel">CANCEL
                        </button>
                    </div>
                    <div style="text-align: center; margin: 0 1rem">
                        <button id="feid-modal-confirm-confirm-button" type="submit"
                                ng-disabled="frm.$invalid || ctrl.newPasswordRepeat != ctrl.newPassword || ctrl.newPassword == ctrl.oldPassword"
                                class="feid-button button-green button-medium" translate="global.button.update">
                            UPDATE
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </md-dialog-content>


</md-dialog>
