<div class="box-wrapper">
    <div>
        <div ui-view="sideBar"></div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 40px; padding-left: 10px; padding-right: 10px;">
        <div class="">
            <div class="row">
                <div class="col-xs col-sm col-md col-lg">
                    <div class="box">
                        <h4 class="feid-heading heading-indigo heading-left heading-strong" translate="credential.detail.upgrade.info">

                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs col-sm col-md col-lg">
                    <div class="box">
                        <div>
                            <div class="card-body bg-white">
                                <form id="frm" name="frm">
                                    <ul class="list-unstyled">
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <div class="box">
                                                        <label class="required ng-scope"  translate="credential.detail.upgrade.certificateAuthorities"></label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-xs-12">
                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                        <input class="form-control" disabled value="{{vm.issuerCN}}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <div class="box">
                                                        <label class="required ng-scope" translate="credential.detail.upgrade.certificateProfile"></label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-xs-12">
                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                        <!--{{vm.detail.cert.certificateProfile.name}}-->
                                                        <!--ng-change="vm.chooseCertiProfile();"-->
                                                        <select class="form-control"
                                                                ng-disabled="vm.disabled"
                                                                ng-change="vm.chooseCertiProfile();"
                                                                ng-model="vm.request.CerAuthProName" required ng-options="item.name for item in vm.certPN track by $index">
                                                            <option ng-if="item.value == 'undefined'"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <div class="box" >
                                                        <label class=" ng-scope" translate="credential.detail.upgrade.signingProfile"></label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-xs-12">
                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                        <select class="form-control"
                                                                ng-disabled="vm.disabled"
                                                                ng-change='vm.rqChooseSC();'
                                                                ng-model="vm.request.signingProfile" required
                                                                ng-init="vm.request.signingProfile = 'UNLIMITED'"
                                                                ng-options="item.name as item.description for item in vm.SnProdata.profiles">
                                                            <option ng-if="item.value == 'undefined'"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if='vm.rqCerAuthProName'>
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <div class="box" translate="credential.renew.duration">

                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-xs-12">
                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12">
                                                        {{vm.certDetail.duration}} {{'credential.renew.day'| translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if='vm.rqCerAuthProName'>
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <div class="box" translate="credential.detail.upgrade.amount">

                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-xs-12">
                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12" ng-if="!vm.fnChooseAM">
                                                        {{vm.certDetail.renewalAmount| currency: '': 0}} VND
                                                    </div>
                                                    <div class="box font-weight-bold col-6" ng-if="vm.fnChooseAM">
                                                        {{vm.getChooseAM.amount| currency: '': 0}} VND
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>
                                        <li class="" ng-if="vm.rqPIN">
                                            <div class="row middle-xs action-wrapper ">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <div class="box" >
                                                        <label class="required ng-scope" ng-if="vm.detail.authMode == 'EXPLICIT/PIN'" translate="credential.detail.upgrade.pin"></label>
                                                        <label class="required ng-scope" ng-if="vm.detail.authMode == 'EXPLICIT/OTP-SMS' || vm.detail.authMode == 'EXPLICIT/OTP-EMAIL'" translate="credential.detail.upgrade.otp"></label>

                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-xs-12" >
                                                    <div class="box font-weight-bold col-lg-6 col-md-6 col-xs-12" style="position: relative;">
                                                        <input  name="authorizeCode" id="authorizeCode" required="true"
                                                                class="form-control " autocomplete="new-password" ng-disabled="vm.disabled2"
                                                                placeholder="" ng-model="vm.request.authorizeCode" minlength="1" maxlength="20"
                                                                aria-invalid="false" type="password"
                                                                ng-attr-type="{{ showPassword ? 'text':'password'}}"
                                                                />
                                                        <i ng-click="toggleShowPassword();" class="sh-input" ng-class="{'fa fa-eye': showPassword, 'fa fa-eye-slash': !showPassword}" style="cursor: pointer;" ></i>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bd-bottom">&nbsp;</div>
                                        </li>


                                    </ul>
                                    <md-radio-group ng-model="vm.request.item" >
                                        <table>
                                            <tr ng-repeat=" item in vm.getPMProvider.paymentProviders">
                                                <td>
                                                    <div>
                                                        <label for="{{item.name}}" style="cursor: pointer;">
                                                            <div class="payment-group">
                                                                <md-radio-button class="md-primary" ng-value="item"  aria-label="{{item.name}}" required name="paymentBtn" id="paymentBtn">
                                                                    <div style="display: flex;">
                                                                        <div class="payment-img">
                                                                            <img ng-src="{{item.image}}" class="" />
                                                                        </div>
                                                                        <div class="form-group payment-name">
                                                                            <div>
                                                                                <span ng-model="vm.request.name">{{"credential.upgrade.payment.pmProviderName"| translate}} {{item.name}}</span>
                                                                            </div>
                                                                            <div>
                                                                                <span translate="credential.upgrade.payment.pmPro2"></span>
                                                                            </div>
                                                                            <div>
                                                                                <span translate="credential.upgrade.payment.pmPro3"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </md-radio-button>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </md-radio-group>
                                </form>
                                <div class="form-group row">
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <message-dialog style="text-transform: uppercase;" obj="vm.dialogMessage"></message-dialog>
                                        <div style="text-align: center; margin-top: 24px;" ng-if="vm.detail.authMode == 'IMPLICIT/TSE'">
                                            <button id="feid-modal-confirm-cancel-button" type="button" ng-click="vm.cancel()"
                                                    class="feid-button button-indigo_inverse button-medium" aria-label="FeID button"
                                                    translate="global.button.cancel">CANCEL
                                            </button>
                                            <button id="feid-modal-confirm-confirm-button" ng-if="!vm.initRq" type="button" 
                                                    ng-click="vm.confirmRequestUpgrade()"
                                                    class="feid-button button-green button-medium" translate="global.button.init">
                                                CONFIRM
                                            </button>
                                            <button id="feid-modal-confirm-confirm-button" ng-if="vm.initRq" type="button" ng-disabled="frm.paymentBtn.$invalid || frm.paymentBtn.$dirty"
                                                    ng-click="vm.orderCheckout()"
                                                    class="feid-button button-green button-medium" translate="global.button.confirm">
                                                CONFIRM
                                            </button>
                                        </div>
                                        <div style="text-align: center; margin-top: 24px;" ng-if="vm.detail.authMode != 'IMPLICIT/TSE'">
                                            <button id="feid-modal-confirm-cancel-button" type="button" ng-click="vm.cancel()"
                                                    class="feid-button button-indigo_inverse button-medium" aria-label="FeID button"
                                                    translate="global.button.cancel">CANCEL
                                            </button>
                                            <button id="feid-modal-confirm-confirm-button" ng-if="vm.initRQ" type="button"
                                                    ng-click="vm.initRequest()"
                                                    class="feid-button button-green button-medium" translate="global.button.init">
                                                CONFIRM
                                            </button>
                                            <button id="feid-modal-confirm-confirm-button" ng-if="vm.initRQ2" type="button" 
                                                    ng-click="vm.confirmRequestUpgrade()"
                                                    class="feid-button button-green button-medium" translate="global.button.init">
                                                CONFIRM
                                            </button>
                                            <button id="feid-modal-confirm-confirm-button" ng-if="vm.initRq" type="button" ng-disabled="frm.paymentBtn.$invalid || frm.paymentBtn.$dirty"
                                                    ng-click="vm.orderCheckout()"
                                                    class="feid-button button-green button-medium" translate="global.button.confirm">
                                                CONFIRM
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
