<div class="main-panel" id="main-panel">
    <!-- Navbar -->
    <div ui-view="navbarTop"></div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a ui-sref="credential.list" > <i class="fa fa-home"></i> List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">History</li>
                        </ol>

                        <h5 class="title">History</h5>
<!--                        <button class="btn btn-primary" ng-click="vm.prevPage()">Back <i class="fa fa-backward"></i> </button>-->
                    </div>
                    <div class="card-body">
                        <div ng-if="vm.data.recordCount > 0">
                            <ul class="list-unstyled">
                                <li class="d-none d-lg-block">
                                    <div class="row middle-xs action-wrapper ">
                                        <div class="col-12 col-md-12 col-lg-2">
                                            <div class="box font-weight-bold">
                                                Action
                                            </div>
                                        </div>
                                        <!--                                    <div class="col-xs-4 action-history-border"></div>-->
                                        <div class="col-12 col-sm-8 col-md-7 col-lg-6">
                                            <div class="box font-weight-bold">
                                                Message
                                            </div>
                                        </div>

                                        <div class="col-8 col-sm-10 col-md-4 col-lg-3">
                                            <div class="box font-weight-bold">
                                                Created Date
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-2 col-md-1 col-lg-1  text-right">
                                            <div class="box font-weight-bold">
                                                Status
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bd-bottom">&nbsp;</div>
                                </li>
                                <li ng-repeat="item in vm.data.records track by $index">
                                    <div class="row middle-xs action-wrapper">
                                        <div class="col-12 col-md-12 col-lg-2">
                                            <div class="box font-weight-bold">
                                                {{item.action}}
                                            </div>
                                        </div>
                                        <!--                                    <div class="col-xs-4 action-history-border"></div>-->
                                        <div class="col-12 col-sm-8 col-md-7 col-lg-6">
                                            <div class="box">
                                                {{item.responseMessage}}
                                            </div>
                                        </div>

                                        <div class="col-8 col-sm-10 col-md-4 col-lg-3">
                                            <div class="box">
                                                {{(item.createDt |
                                                convertString2DateTime) | date: 'dd-MM-yyyy HH:mm:ss' }}
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-2 col-md-1 col-lg-1  text-right">
                                            <div class="box">
                                                <i class="fas fas-lg fa-check" style="color: blue" title="Fail" ng-if="item.responseCode == 0"></i>
                                                <i class="fas fas-lg fa-times" style="color: red" title="Success"  ng-if="item.responseCode != 0"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bd-bottom">&nbsp;</div>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="vm.data.recordCount == 0">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="row middle-xs action-wrapper">
                                        <div class="col-12 ">
                                            Not found data
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div>
                            <button class="btn btn-primary" ng-disabled="vm.page < 2" ng-click="vm.prevPage()">Prev</button>
                            <button class="btn btn-primary" ng-disabled="vm.data.recordCount < vm.size || vm.data.recordCount==0" ng-click="vm.nextPage()">Next</button>
                        </div>

                        <!--                        <ul uib-pagination total-items="vm.page.totals" ng-model="vm.page.index"-->
                        <!--                            ng-change="vm.nextPage()"-->
                        <!--                            class="pagination-sm" boundary-links="true"-->
                        <!--                            items-per-page="vm.page.size" max-size="vm.page.view"-->
                        <!--                            force-ellipses="true"></ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view="footer"></div>

</div>
