<div class="login-container-wrapper">
    <div ui-view="leftContent" class="login-left-column-wrapper col-lg-6 d-none d-md-block d-lg-block"></div>
    <div class="login-right-column-wrapper col-lg-6" style="">
        <div class="login-right-column-content-wrapper">
            <div style="max-width: 400px; width: 100%; margin-top: 50px;">
                <a href="https://rssp.mobile-id.vn" target="_blank" rel="noopener noreferrer"
                   style="text-align: center; margin-top: 15px;">
                    <div class="feid-logo-img logo-img-large">
                        <img src="./content/images/remote-signing.png"
                             alt="SelfCare mID logo">
                    </div>
                </a>
                <div class="row middle-xs between-xs">
                    <div class="col-xs-12">
                        <div style="margin: 15px 15px">
                            <div ng-if="vm.step <= 2">
                                <form id="contactForm" name="contactForm" novalidate>
                                <div ng-if="vm.step == 1">
                                    <h4 class="feid-heading heading-indigo heading-center f20"
                                        data-translate="register.biometricIdentification.reachEmailPhone.head"></h4>
                                    <div style="text-align: justify; margin-top: 30px;">
                                        <p data-translate="register.biometricIdentification.reachEmailPhone.desc"></p>
                                    </div>

                                        <div>
                                            <label class="feid-label feid-label-default feid-label-warning"
                                                   ng-class="{'feid-label-hidden' : !(contactForm.contactTel.$dirty && contactForm.contactTel.$invalid)}">
                                            <span class="help-block"
                                                  ng-show="contactForm.contactTel.$error.minlength"
                                                  translate="global.validate.minlength"
                                                  translate-values='{ field: "register.biometricIdentification.reachEmailPhone.input.phone" , length: 8}'>
                                          4 characters
                                    </span>
                                                <span class="help-block"
                                                      ng-show="contactForm.contactTel.$invalid"
                                                      translate="global.validate.isRequired"
                                                      translate-values='{ field: "register.biometricIdentification.reachEmailPhone.input.phone" }'>
                                         Invalid
                                    </span>
                                            </label>
                                            <input type="text" name="contactTel" id="contactTel" required
                                                   class="feid-input input-medium input-default feid-input-center"
                                                   ng-model="vm.registerCertificateObject.phone" ng-intl-tel-input>
                                        </div>
                                        <div>
                                            <!--                                        <form-validataion  elm="contactForm.contactEmail" minlength="2" maxlength="50" regex="">-->
                                            <label class="feid-label feid-label-default feid-label-warning"
                                                   ng-class="{'feid-label-hidden' : !(contactForm.contactEmail.$dirty && contactForm.contactEmail.$invalid)}">

                                         <span class="help-block "
                                               ng-show="contactForm.contactEmail.$error.required"
                                               translate="global.validate.isRequired"
                                               translate-values='{ field: "register.biometricIdentification.reachEmailPhone.input.email" }'>
                                      Invalid
                                        </span>
                                                <span class="help-block"
                                                      ng-show="contactForm.contactEmail.$error.minlength"
                                                      translate="global.validate.minlength"
                                                      translate-values='{ field: "register.biometricIdentification.reachEmailPhone.input.email" , length: 5}'>
                                        4 characters
                                        </span>
                                                <span class="help-block"
                                                      ng-show="contactForm.contactEmail.$error.maxlength"
                                                      translate="global.validate.maxlength"
                                                      translate-values='{ field: "register.biometricIdentification.reachEmailPhone.input.email" , length: 50}'>
                                         50 characters
                                        </span>
                                                <span class="help-block"
                                                      ng-show="contactForm.contactEmail.$error.pattern"
                                                      translate="register.biometricIdentification.reachEmailPhone.input.pattern">
                                         50 characters
                                        </span>
                                            </label>
                                            <input name="contactEmail" id="contactEmail" type="text" required
                                                   pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+"
                                                   class="feid-input input-medium input-default feid-input-center"
                                                   placeholder="E-mail"
                                                   ng-model="vm.registerCertificateObject.email"
                                                   value="">
                                        </div>

                                </div>
                                <div ng-if="vm.step ==2">
                                    <div class=" center-xs">
                                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="box" style="max-width: 400px;">
                                                <div class="text-center">
                                                    <p style="margin: 24px 20px" class="f15"
                                                       translate="register.biometricIdentification.reachEmailPhone.verify.desc"
                                                       translate-values='{ phone: vm.registerCertificateObject.phone}'>
                                                    </p>
                                                    <div class="mobile-signature-login-info-v2__block__timer">
                                                        <input  type="text"
                                                               ng-model="vm.otpCode"
                                                               style="width: 104px;text-align: center;border-radius: 27px;border-color: #545454;">

                                                        <div id="circularG">
                                                            <div id="circularG_1" class="circularG"></div>
                                                            <div id="circularG_2" class="circularG"></div>
                                                            <div id="circularG_3" class="circularG"></div>
                                                            <div id="circularG_4" class="circularG"></div>
                                                            <div id="circularG_5" class="circularG"></div>
                                                            <div id="circularG_6" class="circularG"></div>
                                                            <div id="circularG_7" class="circularG"></div>
                                                            <div id="circularG_8" class="circularG"></div>
                                                        </div>
                                                        <span class="feid-text"
                                                              translate="register.biometricIdentification.reachEmailPhone.verify.timeLeft"
                                                              translate-values='{ time: vm.validityPeriod}'></span>
                                                    </div>
                                                    <p>
                                                        <button style="border: none;background-color: transparent;"
                                                                type="button" class=" btn-link"
                                                                ng-click="vm.requestResendOtp()">
                                                            {{'register.biometricIdentification.reachEmailPhone.verify.clickResend'
                                                            | translate}}
                                                        </button>
                                                        <span ng-bind-html="'register.biometricIdentification.reachEmailPhone.verify.clickResendRetrievingOtp'| translate">
                                                    </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="text-align: center">
                                    <message-dialog obj="vm.dialogMessage"></message-dialog>
                                    <div ng-if="vm.step == 1">

                                        <div style="text-align: center; margin-top: 24px;">
                                            <button id="id-scan-button" ng-disabled="contactForm.$invalid"
                                                    type="button"
                                                    ng-click="vm.requestOtp()"
                                                    class="feid-button button-indigo_inverse button-small btn-fix-width"
                                                    aria-label="FeID button"
                                                    data-translate="register.biometricIdentification.reachEmailPhone.btn.ok">
                                            </button>
                                        </div>
                                        <div style="text-align: center; margin-top: 15px;">
                                            <button id="LoginForm_LogInWithUsernameButton" type="button"
                                                    ui-sref="policy2"
                                                    class="feid-button button-indigo_text button-small "
                                                    aria-label="FeID button"
                                                    data-translate="register.biometricIdentification.reachEmailPhone.btn.back">
                                                Back
                                            </button>
                                        </div>
                                    </div>
                                    <div ng-if="vm.step == 2">
                                        <button type="button" style="margin:24px 0px"
                                                ng-disabled=" !vm.otpCode"
                                                class="feid-button button-primary button-medium"
                                                ng-click="vm.requestVerifyOtp()">
                                            {{'register.biometricIdentification.reachEmailPhone.verify.btn.verifyOtp'
                                            | translate}}
                                        </button>
                                        <div style="text-align: center; margin-top: 15px;">
                                            <button id="cancelOtp" type="button" ng-click="vm.cancelAuthenOtp()"
                                                    class="feid-button button-indigo_text button-small "
                                                    aria-label="FeID button"
                                                    data-translate="register.biometricIdentification.reachEmailPhone.verify.btn.cancel">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.step < 2" ui-view="footerLanguage" class="row middle-xs between-xs"></div>
            </div>
        </div>
    </div>
</div>

