<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center" style="min-width: 300px">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;" translate="accountProfile.changeEmail.title"></h5>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form class="" id="frm" name="frm">
            <div class="col-sm-12 container-720">
                <div class="container">
                    <div class="container-step">
                        <ul class="progressbar-step">
                            <li style="width: 50%" ng-class="{active : ctrl.step >= 1 }">{{'global.notification.initRequest'| translate}}</li>
                            <li style="width: 50%" ng-class="{active : ctrl.step >= 2 }">{{'global.notification.confirmRequest'| translate}}</li>
                        </ul>
                    </div>


                    <!--                    <fieldset ng-disabled="ctrl.disabled" style="padding-bottom: 0px">-->
                    <div class="intiRequest" ng-if="ctrl.initRequest">
                        <div class="form-group">
                            <label class="required" translate="accountProfile.changeEmail.currentEmail"></label>
                            <input name="currentEmail" id="currentEmail" type="text"
                                   class="feid-input input-medium input-default feid-input-center "
                                   placeholder="OTP" readonly ng-model="ctrl.data.email"
                                   aria-invalid="false" style="">
                        </div>
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="required" translate="accountProfile.changeEmail.newEmail"></label>
                            <input name="newEmail" id="newEmail" type="text"
                                   required
                                   onkeyup="this.value=this.value.replace(/\s/,'')"
                                   pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+"
                                   class="feid-input input-medium input-default feid-input-center "
                                   ng-model="ctrl.request.newEmail"
                                   aria-invalid="false" style="">
                            <label class="feid-label feid-label-default feid-label-warning"
                                   ng-class="{'feid-label-show' : !(frm.newEmail.$dirty && frm.newEmail.$invalid)}">
                                <span class="help-block "
                                      ng-show="frm.newEmail.$error.required"
                                      translate="global.validate.isRequired"
                                      translate-values='{ field: "accountProfile.changeEmail.newEmail" }'>
                                    Invalid
                                </span>

                                <span class="help-block"
                                      ng-show="frm.newEmail.$error.pattern"
                                      translate="accountProfile.changeEmail.emailInvalid">
                                    50 characters
                                </span>
                            </label>
                        </div>
                    </div>

                    <div ng-if="!ctrl.initRequest">

                        <div class="form-group">
                            <label class="required" translate="accountProfile.changeEmail.otpCurrentEmail"></label>
                            <input name="otpCurrentEmail" id="otpCurrentEmail" type="text" required="true"
                                   class="feid-input input-medium input-default feid-input-center "
                                   placeholder="" ng-model="ctrl.request.otpCurrentEmail" minlength="1" maxlength="20"
                                   value=""
                                   onkeyup="this.value=this.value.replace(/\s/,'')"
                                   aria-invalid="false" style="">
                            <label class="feid-label feid-label-default feid-label-warning"
                                   ng-class="{'feid-label-show' : !(frm.otpCurrentEmail.$dirty && frm.otpCurrentEmail.$invalid)}">
                                <span class="help-block"
                                      ng-show="frm.otpCurrentEmail.$invalid"
                                      translate="global.validate.isRequired"
                                      translate-values='{ field: "accountProfile.changeEmail.otpCurrentEmail" }'>
                                    Invalid
                                </span>
                            </label>
                        </div>
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="required" translate="accountProfile.changeEmail.otpNewEmail"></label>
                            <input name="otpNewEmail" id="otpNewEmail" type="text" required="true"
                                   class="feid-input input-medium input-default feid-input-center "
                                   placeholder="" ng-model="ctrl.request.otpNewEmail" minlength="1" maxlength="20"
                                   value=""
                                   onkeyup="this.value=this.value.replace(/\s/,'')"
                                   aria-invalid="false" style="">
                            <label class="feid-label feid-label-default feid-label-warning"
                                   ng-class="{'feid-label-show' : !(frm.otpNewEmail.$dirty && frm.otpNewEmail.$invalid)}">
                                <span class="help-block"
                                      ng-show="frm.otpNewEmail.$invalid"
                                      translate="global.validate.isRequired"
                                      translate-values='{ field: "accountProfile.changeEmail.otpNewEmail" }'>
                                    Invalid
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-center dis-flex-center" style="margin-bottom: 0;">
                        <div ng-if="ctrl.sentOTPSuccess" style="text-transform: uppercase;" class="dis-flex-center">
                            <div class="alert alert-success width-max-content margin-left-right"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                                {{"global.sendOTP.mess.success" | translate}}
                            </div>
                        </div>
                        <div ng-if="ctrl.OTPisInvalid" style="text-transform: uppercase;" class="dis-flex-center">
                            <div class="alert alert-danger width-max-content margin-left-right"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                                {{"global.sendOTP.mess.error.isInvalid" | translate}}
                            </div>
                        </div>
                        <div ng-if="ctrl.emailInvalid" style="text-transform: uppercase;" class="dis-flex-center">
                            <div class="alert alert-danger width-max-content margin-left-right"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                                {{"accountProfile.changeEmail.error.invalid" | translate}}
                            </div>
                        </div>
                        <div ng-if="ctrl.timeoutMsg" style="text-transform: uppercase;" class="dis-flex-center">
                            <div class="alert alert-danger width-max-content margin-left-right" ng-show="ctrl.msgType == 1"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                                {{ctrl.msg}}
                            </div>
                            <div class="alert alert-success width-max-content margin-left-right" ng-show="ctrl.msgType == 0"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                                {{ctrl.msg}}
                            </div>
                        </div>


                    </div>
                    <div class="form-group dis-flex-center" style="margin: 24px 0;">
                        <div style="text-align: center; margin: 0 1rem;">
                            <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                    class="feid-button button-indigo_inverse button-medium" aria-label="FeID button"
                                    translate="global.button.cancel">CANCEL
                            </button>
                        </div>
                        <div class="">
                            <div style=";text-align: center; margin: 0 1rem;" ng-if="ctrl.initRequest">
                                <button id="feid-modal-confirm-confirm-button" type="button"
                                        ng-click="ctrl.initRequestChangeEmail()" 
                                        ng-disabled="frm.$invalid || frm.newEmail == frm.currentEmail"
                                        class="feid-button button-green button-medium" translate="global.button.init">
                                    INIT
                                </button>
                            </div>
                            <div style="text-align: center; margin: 0 1rem;" ng-if="!ctrl.initRequest">
                                <button id="feid-modal-confirm-confirm-button" type="button" ng-disabled="frm.$invalid || ctrl.step == 2"
                                        ng-click="ctrl.confirmChangeEmail()"
                                        class="feid-button button-green button-medium" translate="global.button.confirm">
                                    CONFIRM
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </form>
    </md-dialog-content>


</md-dialog>
