<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;">{{'credential.detail.changeAuthMode.title' | translate}}</h5>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form class="" ng-submit="vm.update()">
            <div class="col-sm-12">
                <!--                <fieldset disabled>-->

                <div class="form-group">

                    <div class="box"><h4 class="feid-heading heading-indigo heading-left heading-strong">{{'credential.detail.changeAuthMode.authMode' | translate}}</h4>
                    </div>
                    <md-radio-group ng-model="vm.detail.authMode" aria-labelledby="authMode">
                        <md-radio-button class="md-primary" ng-value="authMode"
                                         ng-disabled="vm.current.authMode == 'IMPLICIT/TSE' || vm.current.authMode == 'IMPLICIT/BIP-CATTP' || vm.disRadio"
                                         ng-repeat="authMode in vm.detail.authModes">{{authMode}}
                        </md-radio-button>
                    </md-radio-group>
                </div>

                <fieldset ng-disabled="vm.disabled" style="padding: unset">
                    <div class="form-group" ng-if="vm.step == 2">
                        <div class="box"><h4 class="feid-heading heading-indigo heading-left heading-strong">
                            OTP</h4></div>
                        <input name="otp" id="otp" type="text" required="true"
                               class="feid-input input-medium input-default feid-input-center "
                               placeholder="OTP" ng-model="vm.detail.authorizeCode" minlength="1"
                               maxlength="20"
                               value=""
                               aria-invalid="false" style="">
                    </div>
                    <div class="form-group"
                         ng-if="vm.step == 1 && vm.current.authMode == 'EXPLICIT/PIN' && (vm.detail.authMode == 'EXPLICIT/OTP-EMAIL' || vm.detail.authMode == 'EXPLICIT/OTP-SMS' ||  vm.detail.authMode == 'IMPLICIT/TSE')">
                        <div class="box">
                            <h4 class="feid-heading heading-indigo heading-left heading-strong">
                            {{'credential.detail.changeAuthMode.authorizeCode' | translate}}
                            </h4>
                        </div>

                        <input name="authorizeCode" id="newPassphrase" type="text" required="true"
                               class="feid-input input-medium input-default feid-input-center "
                               placeholder="{{'credential.detail.changeAuthMode.authorizeCode' | translate}}" ng-model="vm.detail.authorizeCode" minlength="1"
                               maxlength="20"
                               value=""
                               aria-invalid="false" style="">
                    </div>
                    <div class="form-group text-center" style="margin-bottom: 0px">
                        <div class="alert alert-danger" ng-show="vm.msgType==1"
                             style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                            {{vm.msg}}
                        </div>
                        <div class="alert alert-success" ng-show="vm.msgType==0"
                             style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                            {{vm.msg}}
                        </div>
                        <div style="text-align: center; margin-top: 24px;" ng-if="vm.step == 1">
                            <button id="feid-modal-confirm-confirm-button"
                                    ng-disabled="(vm.current.authMode == vm.detail.authMode && vm.current.SCAL == vm.detail.SCAL) || frm.$invalid"
                                    type="submit" class="feid-button button-green button-medium">
                                {{'global.button.update' | translate}}
                            </button>
                        </div>
                        <div style="text-align: center; margin-top: 24px;" ng-if="vm.step == 2">
                            <button id="feid-modal-confirm-confirm-button"
                                    ng-disabled="(vm.current.authMode == vm.detail.authMode && vm.current.SCAL == vm.detail.SCAL) || frm.$invalid"
                                    type="submit" class="feid-button button-green button-medium">
                                {{'global.button.confirm'  | translate}}
                            </button>
                        </div>

                    </div>
                </fieldset>

                <div class="form-group text-center">
                    <div style="text-align: center; margin-top: 24px;">
                        <button id="feid-modal-confirm-cancel-button" type="button" ng-click="vm.hide()"
                                class="feid-button button-indigo_inverse button-medium" aria-label="FeID button">
                            {{'global.button.cancel'  | translate}}
                        </button>
                    </div>
                    <label class="feid-label feid-label-default feid-label-warning feid-label-hidden">
                        <span class="help-block"> Need this for responsive</span>
                    </label>
                </div>
            </div>
        </form>
    </md-dialog-content>


</md-dialog>
