<md-dialog aria-label="Change Auth Mode">

    <md-toolbar layout="row" layout-align="center center" style="min-width: 300px">
        <div class="md-toolbar-tools">
            <h5 class="feid-heading" style="font-weight: 600;"  translate="credential.detail.resetPassPhrase.title">Reset PassPhrase</h5>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form class="" id="frm" name="frm" >
            <div class="col-sm-12 container-720">
                <div class="container-step">
                    <ul class="progressbar-step">
                        <li style="width: 50%" ng-class="{active : ctrl.step >= 1 }">{{'global.notification.initRequest'| translate}}</li>
                        <li style="width: 50%" ng-class="{active : ctrl.step >= 2 }">{{'global.notification.confirmRequest'| translate}}</li>
                    </ul>
                </div>

                <fieldset ng-disabled="ctrl.disabled" style="padding-bottom: 0px" >
                    <div class="form-group" ng-if="ctrl.initReset">
                        <div class="box">
                            <h4 class="feid-heading heading-indigo heading-left heading-strong" style="text-align: center;" translate="credential.detail.resetPassPhrase.question">Would you like to reset
                                passphrase?</h4>

                        </div>
                    </div>
                    <div ng-if="!ctrl.initReset">
                        <div class="form-group">
                            <div class="box">
                                <h4 class="feid-heading heading-indigo heading-left heading-strong" style="line-break: anywhere;"
                                    translate="credential.detail.resetPassPhrase.enterOtp"
                                    translate-values='{ authorizationEmail: "{{ctrl.data.authorizationEmail}}" }'>Enter OTP that
                                    received  from email <strong>{{ctrl.data.authorizationEmail}}</strong></h4>


                                <span class="feid-heading heading-indigo heading-left heading-strong">
                                    <button style="border: none;background-color: transparent;" type="button" class=" btn-link"
                                            ng-click="ctrl.initResetPassphrase()" ng-disabled="ctrl.disabled">
                                        {{'credential.detail.resetPassPhrase.clickResentOtp'| translate}}
                                    </button>
                                    <span>
                                        {{'credential.detail.resetPassPhrase.resentOtp'| translate}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 0;">
                            <input name="authorizeCode" id="newPassphrase" type="text" required="true"
                                   class="feid-input input-medium input-default feid-input-center "
                                   placeholder="OTP" ng-model="ctrl.authorizeCode" minlength="1" maxlength="20"
                                   value=""
                                   aria-invalid="false" style="">
                        </div>
                    </div>

                    <div class="form-group text-center dis-flex-center" style="margin-bottom: 0;">
                        <div ng-if="ctrl.sentOTPSuccess" style="text-transform: uppercase;" class="dis-flex-center">
                            <div class="alert alert-danger width-max-content margin-left-right"
                                 style="margin-top: 24px;margin-bottom: 0px;text-align: center">
                                {{"global.sendOTP.mess.error.isInvalid" | translate}}
                            </div>
                        </div>
                        <message-dialog style="text-transform: uppercase;" obj="ctrl.dialogMessage"></message-dialog>

                    </div>
                </fieldset>
                <div class="form-group dis-flex-center" style="margin: 24px 0;">
                    <div style="text-align: center; margin: 0 1rem;">
                        <button id="feid-modal-confirm-cancel-button" type="button" ng-click="ctrl.hide()"
                                class="feid-button button-indigo_inverse button-medium" aria-label="FeID button" translate="global.button.cancel">CANCEL
                        </button>
                    </div>
                    <div style=";text-align: center; margin: 0 1rem;" ng-if="ctrl.initReset">
                        <button id="feid-modal-confirm-confirm-button" type="button"
                                ng-click="ctrl.initResetPassphrase()"
                                class="feid-button button-green button-medium" translate="global.button.reset">
                            RESET
                        </button>
                    </div>
                    <div style="text-align: center; margin: 0 1rem;" ng-if="!ctrl.initReset">
                        <button id="feid-modal-confirm-confirm-button" type="button" ng-disabled="frm.$invalid || ctrl.step == 2"
                                ng-click="ctrl.confirmResetPassphrase()"
                                class="feid-button button-green button-medium" translate="global.button.confirm">
                            CONFIRM
                        </button>
                    </div>
                    
                </div>
            </div>
        </form>
    </md-dialog-content>


</md-dialog>
